  <section>

      <!------Hero benner ------>
    <div class="background_voyage">
      <div class="container">
        <div class="hero-row">
          <div class="texte">
            <h1>Have ever shared an amazing experience with your favorite buddy?</h1>
            <p> Travel with your best friend and discover places like never before. Your favorite animal with go with you whereever you go</p>
            <a href=rooms class="btn-kaki">Réserver</a>
          </div>
        </div>
      </div>
    </div>
      <!------END Hero benner ------>
  </section>
